:root{
  --color-orange: #FF8C42;
  --color-acid-green: #A5BE00;
  --color-black: #000000;
  --color-blue: #007EA7;
}


#footer{
  padding: 10vw 5vw 10vh 5vw;
  height: auto;
  background-color: var(--color-black);
}

.footer--container{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#footer--comuniacao{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#footer--comuniacao img{
  height: 70px;
  margin-right: 3vw;
}

.comunication{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer--container h4{
  color: var(--color-orange);
}

.comunication h5{
  margin-bottom: 8vh;
  color: var(--color-orange);
}