/* Configurações globais da página */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(45deg, rgb(37, 36, 39), rgb(99, 40, 236));
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

/* Configurando menu bar*/
.container-fluid{
  color: black;
  box-shadow: -2px 2px 20px 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(55, 12, 110, 0.8)
}

/* Ajustando menu e imagem do menu */
.navbar-brand{
  display: flex;
  align-items: center;
}

.container-fluid img{
  height: 50px;
  padding-right: 5px;
}

/* Shadow da parte de baixo do menu */
.bg-light{
  --bs-bg-opacity: 0;
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}

/* Seções de portifólio alinhadas a direita*/
.navbar-expand-lg .navbar-collapse {
  justify-content: right;
}

/* Seções de portifólio*/
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show .nav-link{
  border-bottom: 2px solid rgb(134, 70, 238);
  font-weight: 600
}

/* Colocando o menu no topo */
.navbar{
  padding-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Ajustando seções */
.navbar-expand-lg .navbar-collapse{
  padding-right: 4vw;
}

/* Alterando cores da seções */
.navbar-light .navbar-nav .nav-link{
  color: rgb(255, 255, 255);
  font-weight: 600;
  transition: all ease 0.5s;
}

/* Hover das cores das seções */
.navbar-light .navbar-nav .nav-link:hover{
  color: rgba(0,0,0,.9);
}

/* Configurando botão do menu responsivo */
.navbar-light .navbar-toggler{
  border: none;
}

/* Configurando botão do menu responsivo: sem bordas */
.navbar-toggler:focus{
  box-shadow: none;
}

#apresentation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  font-size: 13pt;
  color: white;
  padding: 0 5vw;
  margin-bottom: 20vh;
}

#apresetation--info{
  margin-left:  5vw;
}

#apresentation--portifolio img{
  height: 300px;
}

.navbar-light .navbar-brand{
  color:white;
  transition: all ease 0.3s;
}

.navbar-light .navbar-brand:hover{
  color: black;
}

main{
  width: 100%;
}
