/* Configurações globais da página */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Variáveis */
:root{
  --color-orange: #FF8C42;
  --color-acid-green: #A5BE00;
  --color-black: #000000;
  --color-blue: #007EA7;
}

body{
  background-color: var(--color-black);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  color: var(--color-orange);
}

#header{
  height: 81px;
}

/* Configurando menu bar*/
.container-fluid{
  color: var(--color-orange);
  box-shadow: -1px -8px 20px 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--color-black)
}

/* Ajustando menu e imagem do menu */
.navbar-brand{
  display: flex;
  align-items: center;
}

.container-fluid img{
  height: 50px;
  padding-right: 5px;
}

/* Shadow da parte de baixo do menu */
.bg-light{
  --bs-bg-opacity: 0;
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}

/* Seções de portifólio alinhadas a direita*/
.navbar-expand-lg .navbar-collapse {
  justify-content: right;
}

/* Seções de portifólio*/
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show .nav-link{
  border-bottom: 2px solid rgb(134, 70, 238);
  font-weight: 600
}

/* Colocando o menu no topo */
.navbar{
  padding-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999999;
}

/* Ajustando seções */
.navbar-expand-lg .navbar-collapse{
  padding-right: 4vw;
}

/* Alterando cores da seções */
.navbar-light .navbar-nav .nav-link{
  color: var(--color-orange);
  font-weight: 600;
  transition: all ease 0.5s;
}

/* Hover das cores das seções */
.navbar-light .navbar-nav .nav-link:hover{
  color: rgba(255, 255, 255, 0.9);
}

/* Configurando botão do menu responsivo */
.navbar-light .navbar-toggler{
  border: none;
}

/* Configurando botão do menu responsivo: sem bordas */
.navbar-toggler:focus{
  box-shadow: none;
}

#apresentation{
  background-color: var(--color-black);
  padding: 18vh 3vw;
  box-shadow: 0px 0px 10px 2px;
  margin-bottom: 20vh;
  height: 100vh;
}

.apresentation-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.apresetation-container div{
  margin-left:  5vw;
}

.apresetation-container h1{
  color: var(--color-orange);
}

.apresentation-container img{
  width: 30%;
}

.navbar-light .navbar-brand{
  color:var(--color-orange);
  transition: all ease 0.3s;
}

.navbar-light .navbar-brand:hover{
  color: rgba(255, 255, 255, 0.9);
}

main{
  width: 100%;
}
