:root{
  --color-orange: #FF8C42;
  --color-acid-green: #A5BE00;
  --color-black: #212121;
  --color-blue: #007EA7;
}


#projetos{
  background-color: var(--color-black);
  padding: 8vh 3vw;
  box-shadow: 0px 0px 10px 2px var(--color-orange);
  margin-bottom: 20vh;
  height: 100%;
}

#projetos h1{
  margin: 20vh 0 10vh 0;
  color: var(--color-orange);
  text-align: center;
}

#show--projects--container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a{
  text-decoration: none;
}

a .show--projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  padding: 15px 25px;
  border-radius: 20px;
  border: 1px solid rgb(51, 51, 51);
  width: 300px;
  height: 300px;
  background-color: var(--color-black);
  box-shadow: 0 0 10px 1px var(--color-orange);
  transition: all ease 0.5s;
}

.show--projects:hover{
  border: 1px solid var(--color-orange);
  transform: scale(1.2);
}

.show--projects h5{
  color: var(--color-orange);
  text-align: center;
  margin-bottom: 20px;
}

.show--projects p {
  text-align: justify;
  text-indent: 20px;
  width: 100%;
  color: var(--color-orange);
}