:root{
  --color-orange: #FF8C42;
  --color-acid-green: #A5BE00;
  --color-black: #000000;
  --color-blue: #007EA7;
}

#quemSouEu{
  background-color: var(--color-black);
  padding: 8vh 3vw;
  box-shadow: 0px 0px 10px 2px var(--color-orange);
  height: 100vh;
  margin-bottom: 20vh;
}

#quemSouEu h1{
  margin: 20vh 0 10vh 0;
  color: var(--color-orange);
  text-align: center;
}

#quemSouEu--apresentation p{
  color: var(--color-orange);
  text-indent: 15px;
  text-align: justify;
  margin-left: 4vw;
  width: 70%;
}

#quemSouEu--apresentation{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#quemSouEu--apresentation img{
  height: 240px;
  border-radius: 50%;
  transition:  all ease 0.3s;
}

#quemSouEu--apresentation img:hover{
  transform: scale(1.2);
}